body {
    background-color: black;
    padding-left: 10px;
    padding-right: 10px;
    border: 5px solid #e401fe;
    font-family: Handlee ;
}

h1 {
    text-align: center;
    color: yellow;
    font-size: 3em;
}

h2 {
    color: coral;
    font-size: 4em;
    font-weight: bold;
    margin-left: 10%;
}
section.qoute {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 3em;
    margin-left:10%;
    margin-right: 10%;
}
p {
    text-align: center;
    text-transform: capitalize;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 0.8em;
}
li {
    color: #66ff00;
    font-weight: bold;
    font-size:2em;
    text-transform: capitalize;
    padding-bottom: 20px;
    margin-left: 15%;
    box-sizing: border-box;
}

.CSS{
    padding: 0px 0px 0px 0px;
    text-align: left;
    font-size: 27px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 25px;    
}